
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu&display=swap');


.container {
  max-width: 1280px;
  margin: 0 auto;
}

.landing_h1{
  font-size: 2rem;
}

.main {
  background-image: url("../../../components/Layout/images/bgi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wbox {
  margin-top: calc(100vh - 60vh);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  padding: 30px;
}

.wbox {
  background-color: #F6F6F6;
  opacity: 0.85;
}

.arrow {
  height: 45px;
}

.eme {
  padding-top: 6.5px;
  padding-right: 7px;
  height: 39px;
  margin-bottom: 10px;
}

.button1 {
  all: unset;
  border: rgb(255, 0, 0) 3px solid;
  background-color: black !important;
  color: white;
  font-weight: bold;
  width: 250px;
  border-radius: 40px;
  height: 65px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1:hover {
  filter: drop-shadow(0 0 15px red);
}

.btnCon {
  display: flex;
  padding-left: 15px;
  padding-top: 2px;
  gap: 5px;
  align-items: center;
}


.bbox {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  width: 1000px;
  align-content: center;
  font-size: x-large;
  padding-bottom: 20px;
  padding-top: 20px;
}

.h2Line{
  padding-left: 95px;
  padding-bottom: 15px;
  /* font-style: italic; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 550;
}

.bboxCon {
  margin-left: 150px;
}

.emergency-txt {
  font-size: 22px;

}

.bboxCon li {
  padding-bottom: 5px;
}

.weit{
  font-weight: 600;
}